<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.comic.mapper.EmployeeAttachMapper">
	
	<insert id="insert">
		INSERT INTO comic_emp_attach VALUES(#{uuid},#{uploadPath},#{fileName},#{fileType},#{EMPLOYEE_NUM})
	</insert>
	
	<delete id="delete">
		DELETE FROM comic_emp_attach WHERE EMPLOYEE_NUM=#{EMPLOYEE_NUM}
	</delete>
	
	<select id="findByEMPLOYEE_NUM" resultType="com.comic.model.EmployeeAttachVO" >
		SELECT * FROM comic_emp_attach WHERE EMPLOYEE_NUM=#{EMPLOYEE_NUM}
	</select>
	
</mapper>