<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.comic.mapper.SalesStatisticsMapper">
	<select id="productsalesData"
		resultType="com.comic.model.SalesStatisticsVO">
		SELECT * FROM COMIC_PRODUCTSALES WHERE TO_CHAR(PRODUCTSALES_TIME,'YY') = #{year}
	</select>

	<select id="roomsalesData"
		resultType="com.comic.model.SalesStatisticsVO">
		SELECT * FROM COMIC_ROOMSALES WHERE 
		TO_CHAR(ROOMSALES_TIME,'YY') = #{year}
	</select>
	
	<select id="productsalesDayData"
		resultType="com.comic.model.SalesStatisticsVO">
		SELECT SUM(PRODUCTSALES_ORDER_PRICE) AS PRODUCTSALES_ORDER_PRICE, PRODUCTSALES_PRODUCT, PRODUCTSALES_TIME FROM COMIC_PRODUCTSALES GROUP BY PRODUCTSALES_PRODUCT,PRODUCTSALES_TIME HAVING TO_CHAR(PRODUCTSALES_TIME,'YYMM') = #{yearmonth}
	</select>

	<select id="roomsalesDayData"
		resultType="com.comic.model.SalesStatisticsVO">
		SELECT SUM(ROOMSALES_TOTALPRICE) AS ROOMSALES_TOTALPRICE, ROOMSALES_NUM, ROOMSALES_TIME FROM COMIC_ROOMSALES GROUP BY ROOMSALES_NUM,ROOMSALES_TIME HAVING
		TO_CHAR(ROOMSALES_TIME,'YYMM') = #{yearmonth}
	</select>
	
	<select id="productsales" resultType="com.comic.model.SalesStatisticsVO">
		SELECT * FROM (SELECT SUM(PRODUCTSALES_ORDER_PRICE) AS PRODUCTSALES_ORDER_PRICE, PRODUCTSALES_PRODUCT 
		FROM COMIC_PRODUCTSALES
		GROUP BY PRODUCTSALES_PRODUCT
		ORDER BY PRODUCTSALES_ORDER_PRICE DESC) WHERE ROWNUM &lt; 6
	</select>
	
	<select id="roomsales" resultType="com.comic.model.SalesStatisticsVO">
		SELECT SUM(ROOMSALES_TOTALPRICE) AS ROOMSALES_TOTALPRICE, ROOMSALES_NUM FROM COMIC_ROOMSALES GROUP BY ROOMSALES_NUM
	</select>
	
	<select id="totalMonthPrice" resultType="com.comic.model.SalesStatisticsVO">
		 SELECT NVL(PRODUCTSALES_ORDER_PRICE,0) AS PRODUCTSALES_ORDER_PRICE, SALESTIME, ROOMSALES_TOTALPRICE, NVL(LOSS_PAY,0) AS LOSS_PAY FROM 
		(SELECT SUM(PRODUCTSALES_ORDER_PRICE) AS PRODUCTSALES_ORDER_PRICE,TO_CHAR(ROOMSALES_TIME,'YYYY-MM') AS SALESTIME,
		(select sum(roomsales_totalprice) as roomsales_totalprice from comic_roomsales Group by TO_CHAR(ROOMSALES_TIME,'YYYY-MM-DD')) as roomsales_totalprice
		FROM COMIC_PRODUCTSALES RIGHT OUTER JOIN COMIC_ROOMSALES
        on TO_CHAR(ROOMSALES_TIME,'YYYY-MM-DD hh:mm') = TO_CHAR(PRODUCTSALES_TIME,'YYYY-MM-DD hh:mm')
		GROUP BY TO_CHAR(ROOMSALES_TIME,'YYYY-MM')) LEFT OUTER JOIN 
		(SELECT SUM(LOSS_PAY) AS LOSS_PAY, TO_CHAR(LOSS_DATE,'YYYY-MM') AS LOSSTIME FROM COMIC_LOSS GROUP BY TO_CHAR(LOSS_DATE,'YYYY-MM'))
		ON SALESTIME = LOSSTIME
	</select>
	
	<select id="totalPrice" resultType="com.comic.model.SalesStatisticsVO">
		SELECT NVL(PRODUCTSALES_ORDER_PRICE,0) AS PRODUCTSALES_ORDER_PRICE, SALESTIME, ROOMSALES_TOTALPRICE, NVL(LOSS_PAY,0) AS LOSS_PAY FROM 
		(SELECT SUM(PRODUCTSALES_ORDER_PRICE) AS PRODUCTSALES_ORDER_PRICE,TO_CHAR(ROOMSALES_TIME,'YYYY-MM-DD') AS SALESTIME,
		(select sum(roomsales_totalprice) as roomsales_totalprice from comic_roomsales Group by TO_CHAR(ROOMSALES_TIME,'YYYY-MM-DD')) as roomsales_totalprice
		FROM COMIC_PRODUCTSALES RIGHT OUTER JOIN COMIC_ROOMSALES
        on TO_CHAR(ROOMSALES_TIME,'YYYY-MM-DD hh:mm') = TO_CHAR(PRODUCTSALES_TIME,'YYYY-MM-DD hh:mm')
		GROUP BY TO_CHAR(ROOMSALES_TIME,'YYYY-MM-DD')) LEFT OUTER JOIN 
		(SELECT SUM(LOSS_PAY) AS LOSS_PAY, TO_CHAR(LOSS_DATE,'YYYY-MM-DD') AS LOSSTIME FROM COMIC_LOSS GROUP BY TO_CHAR(LOSS_DATE,'YYYY-MM-DD'))
		ON SALESTIME = LOSSTIME
	</select>
	
	<select id="salesSearchList" resultType="com.comic.model.SalesStatisticsVO">
		SELECT ROOMSALES_ID,NVL(PRODUCTSALES_ORDER_PRICE,0) AS PRODUCTSALES_ORDER_PRICE, ROOMSALES_TIME, ROOMSALES_TOTALPRICE, ROOMSALES_NUM FROM 
		(SELECT ROOMSALES_ID,SUM(PRODUCTSALES_ORDER_PRICE) AS PRODUCTSALES_ORDER_PRICE,ROOMSALES_TIME,
		ROOMSALES_TOTALPRICE, ROOMSALES_NUM
		FROM COMIC_PRODUCTSALES RIGHT OUTER JOIN COMIC_ROOMSALES
		ON ROOMSALES_ID = PRODUCTSALES_ID and roomsales_time between productsales_time - 5/(24*60) AND productsales_time +5/(24*60)
		GROUP BY ROOMSALES_time , ROOMSALES_ID, ROOMSALES_NUM, ROOMSALES_TOTALPRICE)
	</select>
	
	<select id="salesSearchData" resultType="com.comic.model.SalesStatisticsVO">
		SELECT ROOMSALES_ID, ROOMSALES_NUM, ROOMSALES_TIME,ROOMSALES_TOTALPRICE, 
		NVL(PRODUCTSALES_ID,'-') AS PRODUCTSALES_ID ,NVL(PRODUCTSALES_ORDER_PRICE,0) AS PRODUCTSALES_ORDER_PRICE,NVL(PRODUCTSALES_PRODUCT,'-') AS PRODUCTSALES_PRODUCT,
		NVL(PRODUCTSALES_QTY,0) AS PRODUCTSALES_QTY, PRODUCTSALES_TIME
		FROM COMIC_PRODUCTSALES FULL OUTER JOIN COMIC_ROOMSALES
		ON TO_CHAR(ROOMSALES_TIME,'YYYY-MM-DD hh:mm') = TO_CHAR(PRODUCTSALES_TIME,'YYYY-MM-DD hh:mm')
		WHERE roomsales_id like '%'||#{keyword}||'%' or roomsales_num like '%'||#{numKeyword}||'%'
	</select>
	
	<select id="salesSearchDateData" resultType="com.comic.model.SalesStatisticsVO">
		SELECT ROOMSALES_ID, ROOMSALES_NUM, ROOMSALES_TIME,ROOMSALES_TOTALPRICE, 
		NVL(PRODUCTSALES_ID,'-') AS PRODUCTSALES_ID ,NVL(PRODUCTSALES_ORDER_PRICE,0) AS PRODUCTSALES_ORDER_PRICE,NVL(PRODUCTSALES_PRODUCT,'-') AS PRODUCTSALES_PRODUCT,
		NVL(PRODUCTSALES_QTY,0) AS PRODUCTSALES_QTY, PRODUCTSALES_TIME
		FROM COMIC_PRODUCTSALES FULL OUTER JOIN COMIC_ROOMSALES
		ON TO_CHAR(ROOMSALES_TIME,'YYYY-MM-DD hh:mm') = TO_CHAR(PRODUCTSALES_TIME,'YYYY-MM-DD hh:mm')
		WHERE ROOMSALES_TIME > #{start} AND ROOMSALES_TIME &lt; to_date(#{end})+1
	</select>
</mapper>