table.type03 {
    border-collapse: collapse;
    text-align: left;
    line-height: 1.5;
    border-top: 1px solid #ccc;
    border-left: 3px solid #369;
}
table.type03 th {
    padding: 10px;
    width: 30%;
    font-weight: bold;
    vertical-align: top;
    color: #153d73;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;

}
table.type03 td {
	width: 25%;
    padding: 10px;
    vertical-align: top;
    border-bottom: 1px solid #ccc;
}